Source: ros-noetic-boxer-base
Section: misc
Priority: optional
Maintainer: Chris Iverach-Brereton <civerachb@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-boxer-msgs, ros-noetic-catkin, ros-noetic-controller-manager, ros-noetic-diagnostic-updater, ros-noetic-geometry-msgs, ros-noetic-realtime-tools, ros-noetic-roscpp, ros-noetic-rosgraph-msgs, ros-noetic-roslaunch <!nocheck>, ros-noetic-roslint <!nocheck>, ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-std-srvs, ros-noetic-teleop-twist-joy, ros-noetic-tf, ros-noetic-topic-tools, ros-noetic-urdf
Homepage: https://wiki.clearpathrobotics.com/display/BOXER/CPE18+-+BOXER
Standards-Version: 3.9.2

Package: ros-noetic-boxer-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, clearpath-api, ros-noetic-boxer-control, ros-noetic-boxer-description, ros-noetic-boxer-msgs, ros-noetic-controller-manager, ros-noetic-diagnostic-aggregator, ros-noetic-diagnostic-updater, ros-noetic-diff-drive-controller, ros-noetic-geometry-msgs, ros-noetic-imu-filter-madgwick, ros-noetic-interactive-marker-twist-server, ros-noetic-realtime-tools, ros-noetic-roscpp, ros-noetic-rosgraph-msgs, ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-std-srvs, ros-noetic-teleop-twist-joy, ros-noetic-tf, ros-noetic-topic-tools, ros-noetic-twist-mux, ros-noetic-urdf, ros-noetic-wireless-watcher
Description: Boxer's mobility and sensor base.
