Source: ros-noetic-boxer-robot
Section: misc
Priority: optional
Maintainer: Chris Iverach-Brereton <civerachb@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: https://wiki.clearpathrobotics.com/display/BOXER/CPE18+-+BOXER
Standards-Version: 3.9.2

Package: ros-noetic-boxer-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-boxer-base, ros-noetic-boxer-bringup, ros-noetic-boxer-tests
Description: Metapackage of software to install on Boxer.
